.section {
    width: 550px;
    height: 600px;

    display: flex;
    flex-direction: column;
    gap: 30px;
 
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 32px 32px 32px;

    border: 1px solid #EAECF0;
    border-radius: 16px;
    overflow-y: auto;
}

.div>h2 {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.455);
    margin-bottom: 24px;
    margin-top: 24px;
}

.toDo {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.dash {
    width: 100%;
    height: 56px;


    outline-style: dashed;
    outline-width: 2px;
    outline-color: #D7DDE9;

    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 16px;
    padding-right: 16px;

    &:hover {
        background-color: #F7F9FD;
        outline-style: none;
        transition: 0.5s;
    }
}

.dash>div {
    display: flex;
    gap: 18px;
    font-weight: 500;
}

.icon {
    width: 24px;
    height: 24px;
    display: block;
    color: #B0BBD1;
    cursor: pointer;
}

.squareCheck {
    width: 24px;
    height: 24px;
    display: block;
    color: #0796D3;
    // background-color: ;
    cursor: pointer;
}

.button {
    background: linear-gradient(90deg, #0796d3 0%, #53c0f0 100%);
    border-radius: 8px;
    padding: 16px 24px;
    width: 100%;
    height: 51px;

    font-weight: 550;
    font-size: 16px;
    color: #fff;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Escurece o fundo */
    backdrop-filter: blur(5px); /* Aplica o blur */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que está sobreposto */
}

.modal_content {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    max-width: 500px;
    width: 100%;
    z-index: 1100; /* Modal mais acima do que o fundo */
}
