.header {
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 92%;
    border-bottom: 1px solid #D7DDE9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .div {
        width: 100%;
        height: 90%;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .div>h2 {
        font-size: 26px;
        font-weight: bolder;
    }

    .div>span {
        color: rgba(0, 0, 0, 0.455);
        font-weight: 500;
    }

    .div>section {
        display: flex;
        gap: 5px;
        flex-direction: row;
        align-items: center;

        height: 100%;
        font-size: 20px;
        font-weight: bolder;
    }


}

/* Media Queries for Responsiveness */

@media (max-width: 780px) {
    .header {
        background-color: rgb(255, 255, 255);
        width: 95%;
        height: 114px;
        border-bottom: 1px solid #D7DDE9;
        display: flex;
        flex-direction: row;
        padding: 0px 0px 24px 0px;


        .div {
            width: 100%;
            height: 90%;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: start;

        }

        .div>h2 {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 20px;
            letter-spacing: -0.02em;
            color: #000;
            margin-bottom: 8px;
        }

        .div>span {
            color: rgba(0, 0, 0, 0.455);
            font-weight: 500;
        }

        .div>section {
            display: flex;
            gap: 5px;
            flex-direction: row;
            align-items: center;

            height: 100%;
            font-size: 20px;
            font-weight: bolder;
            margin-bottom: 8px;
        }

    }
}

@media (max-width: 480px) {
    .header {
        background-color: rgb(255, 255, 255);
        width: 272px;
        height: 114px;
        border-bottom: 1px solid #D7DDE9;
        display: flex;
        flex-direction: row;
        padding: 0px 0px 24px 0px;


        .div {
            width: 100%;
            height: 90%;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: start;

        }

        .div>h2 {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 16px;
            letter-spacing: -0.02em;
            color: #000;
            margin-bottom: 8px;
        }

        .div>span {
            color: rgba(0, 0, 0, 0.455);
            font-weight: 500;
        }

        .div>section {
            display: flex;
            gap: 5px;
            flex-direction: row;
            align-items: center;

            height: 100%;
            font-size: 20px;
            font-weight: bolder;
            margin-bottom: 8px;
        }

    }
}